:root {
  --color-light: #f3f3f2;
  --color-dark: #000020;
  --color-stroke: #8491c3;
  --color-stroke2: #f83929;
  --font-size: 1.6rem;
  --font-large-size: 2.4rem;
  --font-small-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul,
li,
ol {
  list-style: none;
}
a,
a:visited {
  color: var(--color-stroke);
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: var(--font-size);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
